[submodule "plugin.git/syntastic"]
	path = plugin.git/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "plugin.git/vim-cpp-enhanced-highlight"]
	path = plugin.git/vim-cpp-enhanced-highlight
	url = https://github.com/octol/vim-cpp-enhanced-highlight.git
[submodule "plugin.git/rust"]
	path = plugin.git/rust
	url = https://github.com/rust-lang/rust.vim.git
[submodule "plugin.git/tagbar"]
	path = plugin.git/tagbar
	url = https://github.com/preservim/tagbar.git
[submodule "plugin.git/mediawiki.vim"]
	path = plugin.git/mediawiki.vim
	url = https://github.com/vim-scripts/mediawiki.vim.git
[submodule "plugin.git/gnuplot.vim"]
	path = plugin.git/gnuplot.vim
	url = https://github.com/dpezto/gnuplot.vim
[submodule "plugin.git/vim-plug"]
	path = plugin.git/vim-plug
	url = https://github.com/junegunn/vim-plug.git
[submodule "plugin.git/nvim-lspconfig"]
	path = plugin.git/nvim-lspconfig
	url = https://github.com/neovim/nvim-lspconfig.git
[submodule "plugin.git/vim-moonfly-colors"]
	path = plugin.git/vim-moonfly-colors
	url = https://github.com/bluz71/vim-moonfly-colors.git
[submodule "plugin.git/nvim-web-devicons"]
	path = plugin.git/nvim-web-devicons
	url = https://github.com/nvim-tree/nvim-web-devicons.git
[submodule "plugin.git/lualine.nvim"]
	path = plugin.git/lualine.nvim
	url = https://github.com/nvim-lualine/lualine.nvim.git
[submodule "plugin.git/plenary.nvim"]
	path = plugin.git/plenary.nvim
	url = https://github.com/nvim-lua/plenary.nvim.git
[submodule "plugin.git/nui.nvim"]
	path = plugin.git/nui.nvim
	url = https://github.com/MunifTanjim/nui.nvim.git
[submodule "plugin.git/neo-tree.nvim"]
	path = plugin.git/neo-tree.nvim
	url = https://github.com/nvim-neo-tree/neo-tree.nvim.git
[submodule "plugin.git/nvim-notify"]
	path = plugin.git/nvim-notify
	url = https://github.com/rcarriga/nvim-notify.git
[submodule "plugin.git/telescope.nvim"]
	path = plugin.git/telescope.nvim
	url = https://github.com/nvim-telescope/telescope.nvim.git
[submodule "plugin.git/telescope-fzf-native.nvim"]
	path = plugin.git/telescope-fzf-native.nvim
	url = https://github.com/nvim-telescope/telescope-fzf-native.nvim.git
[submodule "plugin.git/vim-dirdiff"]
	path = plugin.git/vim-dirdiff
	url = https://github.com/will133/vim-dirdiff.git
[submodule "plugin.git/diffview.nvim"]
	path = plugin.git/diffview.nvim
	url = https://github.com/sindrets/diffview.nvim.git
[submodule "plugin.git/nvim-treesitter"]
	path = plugin.git/nvim-treesitter
	url = https://github.com/nvim-treesitter/nvim-treesitter.git
[submodule "plugin.git/git-blame.nvim"]
	path = plugin.git/git-blame.nvim
	url = https://github.com/f-person/git-blame.nvim.git
