[submodule ".sm/space-vim-dark"]
	path = .sm/space-vim-dark
	url = https://github.com/liuchengxu/space-vim-dark.git
[submodule ".sm/ctrlp"]
	path = .sm/ctrlp
	url = https://github.com/ctrlpvim/ctrlp.vim.git
[submodule ".sm/nerdtree"]
	path = .sm/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule ".sm/syntastic"]
	path = .sm/syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule ".sm/vim-cpp-enhanced-highlight"]
	path = .sm/vim-cpp-enhanced-highlight
	url = http://github.com/octol/vim-cpp-enhanced-highlight.git
